body {
	background-color: #edeef0;
  font-family: gill sans mt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;	
}

.main-block {
	margin: 30px auto 0px 0px;
	padding-left: 20px;
	min-height: 575px;
	width: 500px;
	text-align: left;
	border-left: 1px solid #DCDCDC;
}

.doctor-info {
	margin: 10px 20px 10px 0px;
	padding-bottom: 20px;
	width: 350px;
	background-color: #F8F8FF;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	text-align: left;
}

.doctor-info-item {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.doctor-image {
	text-align: center;
}

.doctor-image img {
	margin: 30px auto;
	border-radius: 5px;
	max-width: 200px;
	max-height: 200px;
	background-size: cover;
}

.secondary-block {
	margin: 30px 0px 0px 305px;
	width: 370px;
}

.patient-list {
	width: 90%;
  margin-left: 0px;
  margin-right: auto;
}

.patient {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	background-color: #F8F8FF;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;	
}

.patient-info-item {
	width: 300px;
	text-align: left;
	margin: 10px 0px 0px 10px;
}

#patient-link {
	color: black; 
	text-decoration: none;
}

#patient-link:hover {
	color: #e94560;
}

.patient-info-livingplace {
	width: 300px;
	text-align: left;
	margin: 10px 0px 0px 10px;
	font-size: 12px;
	font-family: sans-serif;
}

.actions {
	width: 100px;
	text-align: center;
	border-left: 1px solid #DCDCDC;
}

.action-button1, .action-button2 {
	padding-top: 15px;
	width: 100%;
	height: 50%;
}

.action-button1 {
	border-bottom: 1px solid #DCDCDC;
}

.action-button1 a, .action-button2 a {
	text-decoration: none;
	color: black;
}

.action-button1 a:hover, .action-button2 a:hover {
	color: #e94560;
}

.discharge-wrapper {
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(128,128,128,0.5);
}

.discharge-form {
	width: 360px;
  	background-color: #F8F8FF;
  	padding: 40px;
  	border: 1px solid #DCDCDC;
  	border-radius: 5px;
  	margin: 250px auto auto auto;
}

.discharge-form h3 {
	margin-bottom: 30px;
}

.txtb {
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  position: relative;
}

.txtb input {
  font-size: 15px;
  color: black;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.disbtn {
	font-size: 16px;
  	margin-top: 40px;
  	border-radius: 5px;
  	display: block;
  	width: 100%;
  	height: 50px;
  	border: none;
  	background-color: #0f3057;
  	background-size: 200%;
  	color: white;
  	outline: none;
  	cursor: pointer;
}

.disbtn:hover{
	background: linear-gradient(120deg,#008891,#00587a,#0f3057);
}