body {
	background-color: #edeef0;
  	font-family: gill sans mt;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;	
}

.main-block {
	margin: 30px auto 0px 0px;
	padding-left: 20px;
	min-height: 575px;
	width: 500px;
	text-align: left;
	border-left: 1px solid #DCDCDC;
}

.inner-main {
	margin: 10px 50px 10px 0px;
	width: 350px;
	text-align: left;
}

.secondary-block {
	margin: 30px 0px 0px 150px;
	width: 700px;
}

.inner-secondary p {
	text-align: right;
	margin-top: 150px;
	margin-right: 50px;
  	font-size: 72px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0f3057;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0f3057;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}